.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    article{
        display:flex;
        flex-direction: row;
        align-items: center;
        gap:1%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:rgb(54, 54, 54);
    }
    div{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        p{font-size: 15px;}
    }
}